{% extends 'base.html' %}

{% block content %}
{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h2 class="pageTitle">Add Skill</h2>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="waves-effect waves-light  teal darken-4 btn btn-large"
        style="margin:20px 10px 30px 0px;">
</form>
<style>
    input {
        color: white;
    }
</style>
{% endblock %}