{% extends 'base.html'%}

{% block content%}

<div class="row aboutSection" style="display: flex;">
    <div class="col s12 l6 ">
        <img src="../static/images/person-laptop-smiling.png" alt="">
    </div>
    <div class="col s12 l6 aboutRightSection">
        <div class="aboutDescp">
            <h1>About Career Crafter </h1>

            <h3>Career Crafter is a project built during General Assembly Bootcamp, crafted with Python, Django, and
                PostgreSQL. Career Crafter app is dedicated to empowering individuals in managing their career journey
                with ease
                and efficiency.</h3>
        </div>
    </div>
</div>

<style>
    body {
        background: rgb(0, 69, 57);
        background: linear-gradient(145deg, #001D18 0%, #001411 100%);
    }
</style>

{% endblock %}