{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Career Crafter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="navbar-fixed blue-brand">
        <nav class="grey lighten-4 blue-brand">
            <div class="nav-wrapper ">
                <ul class="left logo">
                    <li><a href="/" style="color:rgba(28, 53, 94, 1);">Career Crafter</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}" style="color:rgba(28, 53, 94, 1);">About</a></li>
                    <li><a href="{% url 'index' %}" style="color:rgba(28, 53, 94, 1);">Application Tracker</a></li>
                    <li><a href="" style="color:rgba(28, 53, 94, 1);">Resume Builder</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>

</html>