{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Career Crafter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="navbar-fixed blue-brand">
        <nav class=" blue-brand">
            <div class=" row  teal darken-4 nav-wrapper">
                <div class="container">
                    <ul class="left logo">
                        <li><a href="/" style="color: #a3ffb1;">Career Crafter</a></li>
                    </ul>
                    <ul class=" right">
                        <li><a class="yellow-text text-lighten-5" href="{% url 'about' %}" ">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a class=" yellow-text text-lighten-5" href=" {% url 'index' %}" ">Application tracker</a>
                    </li>
                    <!-- <li><a href=""  ">Resume Builder</a></li> -->
                        <li><a class="yellow-text text-lighten-5" href="{% url 'skills_create' %}" ">Create a
                            skill</a></li>
                    <li><a  class=" yellow-text text-lighten-5" href=" {% url 'skills_index' %}" ">My skills</a>
                    </li>
                    <li><a class=" yellow-text text-lighten-5" href=" {% url 'tags_create' %}" ">Create a tag</a>
                    </li>
                    <li><a class=" yellow-text text-lighten-5" href=" {% url 'logout' %}" ">Log Out</a></li>
                    {% else %}
                    <li><a class=" yellow-text text-lighten-5" href=" {% url 'signup' %}">Sign Up</a></li>
                        <li><a class="yellow-text text-lighten-5" href="{% url 'login' %}" ">Log In</a></li>
                    {% endif%}
                </ul>
               </div>
            </div>
        </nav>
    </header>
    <main class="" style=" max-width: 1200px; margin:0 auto; padding-left: 10px; padding-right:10px">
                                {% block content %}
                                {% endblock %}
                                </main>
                                <footer>
                                </footer>
                                <script src="
                                https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
                                </script>
                                <style>
                                    .teal.darken-4 {
                                        background-color: #001d18dc !important;
                                    }
                                </style>
</body>

</html>