body {
    background-color: rgba(241, 241, 241, 1);
}

.blue-brand {
    color: rgba(3, 51, 78, 1);
}

.teal.darken-4 {
    background-color: #001d18dc !important;
}

img {
    width: 100%;
}

.aboutSection h1 {
    color: #a3ffb1;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.aboutSection h3 {
    font-size: 26px;
    color: #fffde7;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.aboutSection {
    padding: 50px 10px;
}

.aboutDescp {
    max-width: 500px;
    margin: 0 auto;
}

.aboutRightSection {
    display: flex;
    align-content: center;
    align-items: center;
}