body {
    background-color: rgba(241, 241, 241, 1);
}

.blue-brand {
    color: rgba(3, 51, 78, 1);
}

.teal.darken-4 {
    background-color: #001d18dc !important;
}

img {
    width: 100%;
}

.aboutSection h1 {
    color: #a3ffb1;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.aboutSection h3 {
    font-size: 26px;
    color: #fffde7;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.aboutSection {
    padding: 50px 10px;
}

.aboutDescp {
    max-width: 500px;
    margin: 0 auto;
}

.aboutRightSection {
    display: flex;
    align-content: center;
    align-items: center;
}

.pageTitle {
    font-size: 26px;
    color: #004539;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
}


.skillBox {
    font-size: 24px;
    font-weight: 300;
    color: #a3ffb1;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    display: inline-block;
    margin: 20px;
}

.skillBox:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.skillBox2 {
    font-size: 24px;
    font-weight: 300;
    color: #a3ffb1;
    padding: 10px 20px;
    background-color: #002710;
    border-radius: 100px;
    display: inline-block;
    margin: 20px;
}

.skillBox2:hover {
    background-color: #002710;
}


.skillBoxOutline {
    font-size: 24px;
    font-weight: 300;
    color: #002710;
    border: 1px solid #002710;
    padding: 20px 30px;
    border-radius: 20px;
    display: inline-block;
    margin: 20px;
}

.skillBoxOutline:hover {
    background-color: #d3ebdd;
}

.skillBoxOutline .btn {
    margin-top: 20px;
    border-radius: 20px;
}