{% extends 'base.html'%}

{% block content %}
<h1 style="color:rgba(28, 53, 94, 1);">Application {{application.id}}</h1>
<div class="col s6">
    <table>
        <tbody>
            <tr>
                <td>{{application.job_title}}</td>
                <td>{{application.company}}</td>
                <td>{{application.location}}</td>
                <td>{{application.date}}</td>
                <td>{{application.cover_letter_included}}</td>
                <td>
                    <a href="{{application.link}}" target="_blank" rel="noopener noreferrer">Open</a>
                </td>
                <td>{{application.status.get_status_display}}</td>
            </tr>
        </tbody>
    </table>
    <div class="card-active">
        <a href="{% url 'application_update' application.id %}">Edit</a>
        <a href="{% url 'application_delete' application.id %}">Delete</a>
    </div>
</div>
<!-- New Markup Above -->
</div>
<div class="col s6">
    <table class="striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for action in application.action_set.all %}
            <tr>
                <td>{{action.date}}</td>
                <td>{{action.action}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    const selectEl = document.getElementById('id_status');

    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    M.FormSelect.init(selectEl);
</script>
{% endblock%}