{% extends 'base.html'%}

{% block content %}
<h2 class="pageTitle">Application {{application.id}}</h2>
<div class="col s6">
    <table>
        <tbody>
            <tr>
                <td>{{application.job_title}}</td>
                <td>{{application.company}}</td>
                <td>{{application.location}}</td>
                <td>{{application.date}}</td>
                <td>{{application.cover_letter_included}}</td>
                <td>
                    <a href="{{application.link}}" target="_blank" rel="noopener noreferrer">Open</a>
                </td>
                <td>{{application.get_status_display}}</td>
            </tr>
        </tbody>
    </table>
    <div class="card-active">
        <a href="{% url 'application_update' application.id %}">Edit</a>
        <a href="{% url 'application_delete' application.id %}">Delete</a>
    </div>
</div>
<!-- New Markup Above -->
</div>
<div class="col s6">
    <form action="{% url 'add_action' application.id%}" method="POST">
        {% csrf_token%}
        {{ action_form.as_p}}
        <input type="submit" value="Add action" class="btn blue">
    </form>
    <table class="striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for action in application.action_set.all %}
            <tr>
                <td>{{action.date}}</td>
                <td>{{action.action}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col s6">
    <p>Your Notes 📝</p>
    {% if application.note_set.all %}
    <div class="row">
        <div class="input-field col s12">
            {% for note in application.note_set.all %}
            <p>{{ note.note }}</p>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>No notes available.</p>
    {% endif %}
    <form action="{% url 'add_note' application.id %}" method="POST">
        {% csrf_token %}
        {{ note_form.as_p }}
        <div class="row">
            <div class="input-field col s12">
                <textarea id="id_note" name="note" class="materialize-textarea"></textarea>
                <label for="id_note">Add a note</label>
            </div>
        </div>
        <input type="submit" value="Add note" class="btn blue">
    </form>
</div>
<div class="row">
    <div class="col s6">
        <h3>Skills related to this application</h3>
        {% for skill in application.skills.all %}
        <div class="skillBox2">
            {{skill.name}}
        </div>
        {% endfor%}
    </div>
</div>
<h3>Available Skills</h3>
{% if skills.count %}
{% for skill in skills.all %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{skill.name}}</span>
    </div>
    <div class="card-action">
        <form action="{% url 'assoc_skill' application.id skill.id%}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
</div>
{% endfor %}
{% else %}
<h5>You have added all your skills</h5>
{% endif %}

<h5>Tags</h5>
<div class="row">
    <div class="col s6">
        {% for tag in application.tags.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{tag.name}}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Available toys will come after this line -->
</div>
<div class="col s6">
    <h3>Available Tags</h3>
    {% if tags.count %}
    {% for tag in tags.all %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">
                {{tag.name}}
            </span>
        </div>
        <div class="card-action">
            <form action="{% url 'assoc_tag' application.id tag.id%}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
            </form>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>Already used all tags</h5>
    {% endif %}
</div>




<script>
    const dateEl = document.getElementById('id_date');
    const selectEl = document.getElementById('id_status');
    const noteEl = document.getElementById('id_note');

    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    M.FormSelect.init(selectEl);
</script>
{% endblock%}