{% extends 'base.html'%}

{% block content %}
<h1 style="color:rgba(28, 53, 94, 1);">Applications List</h1>
<button>Add a new application</button>

<div class="col s6">
    <table class="striped">
        <thead>
            <tr>
                <th>List</th>
                <th>Job Title</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date Applied</th>
                <th>Date Posted</th>
                <th>Cover Letter</th>
                <th>Application Status</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>{{application.id}}</td>
                <td>{{application.job_title}}</td>
                <td>{{application.description}}</td>
                <td>{{application.location}}</td>
                <td>{{application.dateApplied}}</td>
                <td>{{application.datePosted}}</td>
                <td>{{application.coverLetter}}</td>
                <td>{{application.status}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock%}