{% extends 'base.html'%}

{% block content %}
<h1 style="color:rgba(28, 53, 94, 1);">Application Tracker</h1>
<button>Add a new application</button>
<div class="col s6">
    <table>
        <thead style="background-color: rgb(231, 231, 231);">
            <tr>
                <th>List</th>
                <th>More Details</th>
                <th>Job Title</th>
                <th>Company Name</th>
                <th>Location</th>
                <th>Date Applied</th>
                <th>Cover Letter</th>
                <th>Link</th>
                <th>Application Status</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}

            <tr>
                <td>{{application.id}}</td>
                <td><a href="{% url 'detail' application.id %}">DETAILS</a></td>
                <td>{{application.job_title}}</td>
                <td>{{application.company}}</td>
                <td>{{application.location}}</td>
                <td>{{application.date}}</td>
                <td>{{application.cover_letter_included}}</td>
                <td>
                    <a href="{{application.link}}" target="_blank" rel="noopener noreferrer">Open</a>
                </td>
                <td>{{application.status}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% endblock%}