{% extends 'base.html'%}

{% block content %}
<h1>Applications List</h1>

{% for application in applications %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ application.id }}</span>
        <p>Job Title: {{ application.job_title }}</p>
        <p>Description: {{ application.description }}</p>
        <p>Location: {{ application.location }}</p>
        <p>Date Applied: {{ application.dateApplied }}</p>
        <p>Date Posted: {{ application.datePosted }}</p>
        <p>Cover Letter: {{ application.coverLetter }}</p>
        <p>Application Status: {{application.status }}</p>
    </div>
</div>
{% endfor %}
{% endblock%}